<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap");
=======
/*FONTES*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+3:wght@400;600;700&display=swap");
>>>>>>> MAYARA

* {
  font-family: "Source Sans 3", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
<<<<<<< HEAD
}
/*----------------------HEADER---------------------*/
.header-container > header {
  display: flex;
  width: 100%;
  height: 270px;
  margin: 5px;
=======
  margin: 0;
}

/*ESTILOS GERAIS*/
body {
  background: #f4decd;
}

/*HEADER*/
.header-container {
  height: 270px;
  margin: 0 0 0 0;
}
.header-container > header {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
>>>>>>> MAYARA
  background-color: #70cbcb;
}

.header-img-logo {
  position: relative;
<<<<<<< HEAD
=======
  width: 200px;
>>>>>>> MAYARA
  top: 40px;
  left: 20px;
}
.header-nav-bar {
<<<<<<< HEAD
  padding: 180px 60px 60px;
  font-size: 28px;
=======
  position: relative;
  padding: 180px 40px 60px;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 40px;
>>>>>>> MAYARA
}
.header-nav-bar {
  justify-content: space-around;
}
.header-nav-bar > nav > a {
  color: #f0ffff;
  text-decoration: none;
<<<<<<< HEAD
=======
  font-size: larger;
  text-shadow: 1px 2px 3px #ec7474;
>>>>>>> MAYARA
  padding: 0px 20px 20px;
}

#header-myItens {
<<<<<<< HEAD
  padding: 80px 80px 0px;
}

#header-myItens > img {
  width: 100px;
=======
  padding: 50px 40px 40px 0px;
}

#header-myItens > img {
  width: 50px;
  margin-left: 30px;
  margin-top: 118px;
  border-radius: 50%;
>>>>>>> MAYARA
}

#header-myItens > a {
  color: #f0ffff;
<<<<<<< HEAD
  font-size: 28px;
  text-align: end;
=======
  font-size: 22px;
  text-align: left;
  margin-left: 10px;
  text-shadow: 1px 2px 3px #ec7474;
>>>>>>> MAYARA
  text-decoration: none;
}

#header-login {
<<<<<<< HEAD
  padding: 90px 100px 0px;
}

#header-login > img {
  width: 80px;
}
#header-login > a {
  color: #f0ffff;
  font-size: 28px;
  text-decoration: none;
}
/*-----------------------------------*/
#Products {
  width: 100%;
  height: 600px;
  font-size: 100px;
}
/*-----------------------------------*/
.footer.content {
  position: fixed;
  margin: 0;
  padding: 0 0 0 0;
=======
  padding: 50px 30px 0px;
}

#header-login > img {
  width: 40px;
  margin: 125px 0 0 30px;
  border-radius: 50%;
}
#header-login > a {
  color: #f0ffff;
  font-size: 22px;
  margin-left: 22px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #ec7474;
}

/*BODY*/

.frota-main-container {
  height: auto;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

#main-container-title {
  position: relative;
  background-color: #70cbcb;
  height: auto;
  width: 350px;
  margin: 1% 0 1% 16%;
  text-align: center;
  color: #f0ffff;
  text-shadow: 3px 3px 5px black;
}

#main-container-title h1 {
  text-shadow: 1px 2px 3px #ec7474;
}

/*FOOTER*/

.footer.content {
  position: fixed;
  margin: 0;
  padding: 0;
>>>>>>> MAYARA
}

.footer-container > footer {
  display: flex;
  background-color: #70cbcb;
<<<<<<< HEAD
  height: 380px;
}

#minimal-logo {
  padding: 30px 50px 10px 20px;
  height: 120px;
=======
  height: 360px;
}

#minimal-logo {
  padding: 30px 50px 10px 25px;
  height: 100px;
>>>>>>> MAYARA
}

#Nossos-contatos {
  text-align: right;
<<<<<<< HEAD
  font-size: 32px;
  font-weight: 600;
  color: #f0ffff;
}

.footer-contacts-info {
  padding: 100px 20px 0px 20px;
=======
  font-size: 28px;
  font-weight: 600;
  color: #f0ffff;
  text-shadow: 1px 2px 3px #ec7474;
}

.footer-contacts-info {
  padding: 100px 20px 0px 0px;
>>>>>>> MAYARA
}

.footer-contacts-info > img {
  width: 40px;
  padding: 15px 20px 0px 0px;
}

<<<<<<< HEAD
.footer-contacts-info > label {
  font-size: 28px;
  color: #f0ffff;
}

.footer-social-a-icons {
  padding: 50px 20px 0px 20px;
}

.footer-social-a-icons img {
  width: 70px;
=======
.footer-contacts-info > span {
  font-size: 20px;
  color: #f0ffff;
  text-shadow: none;
}

.footer-social-a-icons {
  padding: 50px 10px 0px 90px;
  flex-wrap: nowrap;
}

.footer-social-a-icons img {
  width: 50px;
>>>>>>> MAYARA
  padding: 10px 20px 0px 0px;
}

#footer-end-line {
<<<<<<< HEAD
  border-top: #f0ffff;
  border-top-width: 2px;
  width: 100%;
  height: 30px;
  background-color: #70cbcb;
=======
  width: 100%;
  height: 60px;
  background-color: #70cbcb;
  border-top: solid 3px #f0ffff;
>>>>>>> MAYARA
  text-align: center;
  color: #f0ffff;
  font-size: 22px;
  font-weight: 600;
}
<<<<<<< HEAD
=======

#footer-end-line a {
  text-decoration: none;
}
:hover#footer-end-line a {
  text-decoration: none;
  color: #ffffff;
}
>>>>>>> MAYARA
