@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+3:wght@400;600;700&display=swap");

/*ESTILOS GERAIS*/
* {
  font-family: "Source Sans 3", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

body {
  background: #f4decd;
  margin: 0;
}

/*HEADER*/


.header-container {
  height: 270px;
  margin: 0 0 0 0;
}

.header-container header {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #70cbcb;
}

.header-img-logo {
  position: relative;
  width: 200px;
  top: 40px;
  left: 20px;
}

.header-nav-bar {
  position: relative;
  padding: 180px 40px 60px;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 40px;
}

.header-nav-bar {
  justify-content: space-around;
}

.header-nav-bar a {
  color: #f0ffff;
  text-decoration: none;
  font-size: larger;
  text-shadow: 1px 2px 3px #ec7474;
  padding: 0px 20px 20px;
}

.header-nav-bar a:hover {
  box-shadow: -3px -5px 5px #ec7474;
  border-radius: 30px;
}

#header-my-itens {
  padding: 50px 40px 40px 0px;
}

#header-my-itens img {
  width: 50px;
  margin-left: 30px;
  margin-top: 118px;
}

#header-my-itens a {
  color: #f0ffff;
  font-size: 22px;
  text-align: left;
  margin-left: 10px;
  text-shadow: 1px 2px 3px #ec7474;
  text-decoration: none;
}

#header-my-itens a:hover {
  box-shadow: -3px -5px 5px #ec7474;
  border-radius: 30px;
}

#header-login {
  padding: 50px 30px 0px;
}

#header-login img {
  width: 40px;
  margin: 125px 0 0 30px;
}

#header-login a {
  color: #f0ffff;
  font-size: 22px;
  margin-left: 22px;
  text-decoration: none;
  text-shadow: 1px 2px 3px #ec7474;
}

#header-login a:hover {
  box-shadow: -3px -5px 5px #ec7474;
  border-radius: 20px;
}

/*MAIN*/
.frota-main-container {
  width: 100%;
  background-color: #f4decd;

}

.frota-main-container section {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.frota {
  align-items: center;
  justify-content: center;
}

.frota h1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 25%;
  margin: 40px 0 10px 25%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  height: 8vh;
  background-color: #70cbcb;
  color: #f0ffff;
  text-shadow: 1px 3px 5px black;
}

.motos-da-frota {
  display: flex;
  padding: 0 0 0 15%;

}

.motos-da-frota div {
  display: inline-block;
  width: 160px;
  flex-direction: column;
  background-color: #70cbcb;
  margin: 25px 25px 25px 25px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  text-align: center;
  color: #f0ffff;
  font-size: 14px;
  text-shadow: 1px 2px 3px black;
}

.frota-acessorios {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frota-acessorios h1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 25%;
  margin: 40px 0 10px 34.51%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  height: 8vh;
  background-color: #70cbcb;
  color: #f0ffff;
  text-shadow: 1px 3px 5px black;
}

.acessorios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45%;
}

.acessorios img {
  display: flex;
  flex-direction: row;
  width: 40%;
  width: 100px;
}



/*================FOOTER======================*/

.footer.content {
  margin: 0;
  padding: 0;
}

.footer-container footer {
  display: flex;
  height: 300px;
  background-color: #70cbcb;
}

#minimal-logo {
  padding: 30px 50px 10px 20px;
  height: 110px;
}

#Nossos-contatos {
  text-align: right;
  font-size: 24px;
  font-weight: 600;
  color: #f0ffff;
}

.footer-contacts-info {
  padding: 100px 20px 0px 0px;
}

.footer-contacts-info img {
  width: 30px;
  padding: 15px 20px 0px 0px;
}

.footer-contacts-info span {
  font-size: 20px;
  color: #f0ffff;
  text-shadow: none;
}

.footer-social-a-icons {
  display: flex;
  flex-wrap: nowrap;
}

.footer-social-a-icons img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 8px 0 8px;
}

.footer-container hr {
  height: 3px;
  color: #fff;
}

#footer-end-link {
  text-align: center;
  font-size: large;
  font-weight: 600;
  color: #f0ffff;
  background-color: #70cbcb;
}

#footer-end-link a {
  text-decoration: none;
}

#footer-end-link a:hover {
  text-decoration: none;
  color: #ffffff;
}