@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+3:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*ESTILOS GERAIS*/
body {
    font-family: "Source Sans Pro", "Source Sans 3";
    background-image: url(../img/job405-ploy-01c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/
.header-container {
    height: 380px;
    margin: 0 0 0 0;
    background-image: url(../img/background-neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container > header {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.header-img-logo {
    position: relative;
    width: 200px;
    height: 50px;
    top: 14vh;
    left: 11vw;
}

.header-nav-bar {
    position: relative;
    padding: 46vh 0vw 0vw;
    font-size: 20px;
    margin-left: -8vw;
    margin-right: 12vw;
}

.header-nav-bar a {
    color: #f0ffff;
    text-decoration: none;
    font-size: larger;
    text-shadow: 1px 2px 3px #cdcef4;
    padding: 0px 5vw 0px;
}

.header-left-itens-login {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    justify-content: center;
}

#header-myItens {
    position: relative;
    align-items: center;
}

#header-myItens > img {
    width: 50px;
    margin: 12vh 0 0 2vw;
}

#header-myItens > a {
    color: #f0ffff;
    font-size: 22px;
    text-align: left;
    padding: 0 0 0 0;
    margin: 10vh 0 0 0;
    text-shadow: 1px 2px 3px #eccef4;
    text-decoration: none;
}

#header-login {
    padding: 0vh 0vw 0vw;
}

#header-login > img {
    width: 40px;
    margin: 14vh 0 0 2vw;
}

#header-login > a {
    color: #f0ffff;
    font-size: 22px;
    margin: 38vh 0 0 1.5vw;
    text-decoration: none;
    text-shadow: 1px 2px 3px #eccef4;
}

/*MAIN*/
.frota-main-container {
    width: 100%;
}

.frota-main-container section {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.frota {
    align-items: center;
    justify-content: center;
    margin-left: 20vw;
}

#motos-frota {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0 10px 10.5vw;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    height: 8vh;
    background-color: #6d89ed;
    color: #f0ffff;
    text-shadow: 1px 3px 5px black;
}

.motos-da-frota {
    display: flex;
    padding: 0 0 0 0;
}

.motos-da-frota div {
    display: inline-block;
    width: 160px;
    flex-direction: column;
    background-color: #6d89ed;
    margin: 25px 25px 25px 25px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    text-align: center;
    color: #f0ffff;
    font-size: 14px;
    text-shadow: 1px 2px 3px black;
}

/*Acessórios*/

.frota-acessorios {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.frota-acessorios h1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0 10px -2vw;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    width: 30vw;
    height: 8vh;
    background-color: #6d89ed;
    color: #f0ffff;
    text-shadow: 1px 3px 5px black;
}

.acessorios {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 30vw;
    margin: 20px 0px 20px 0vw;
    padding: 30px 0px 30px 0px;
    text-shadow: 2px 3px 3px #000;
}

.acessorios img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 110px;
    height: 110px;
    padding: 0 0 0 20px;
}

.acessorios div {
    background-color: #6d89ed;
    margin: 0px 40px 0px 40px;
    padding: 2px 2px 2px 2px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}

.acessorios span {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f0ffff;
    font-size: large;
    letter-spacing: 0.3px;
}

/*================FOOTER======================*/
.footer.content {
    position: absolute;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    padding: 0 0 0 0;
}

.footer-container > footer {
    display: flex;
    background-color: #6d89ed;
    height: 380px;
}

#minimal-logo {
    padding: 30px 30px 10px 10px;
    height: 80px;
}

#Nossos-contatos {
    text-align: right;
    font-size: 32px;
    font-weight: 600;
    color: #f0ffff;
}

.footer-contacts-info {
    padding: 100px 20px 0px 20px;
}

.footer-contacts-info > img {
    width: 30px;
    padding: 15px 20px 0px 0px;
}

.footer-contacts-info > label {
    font-size: 28px;
    color: #f0ffff;
}

.footer-social-a-icons {
    padding: 50px 10px 0px 10px;
}

.footer-social-a-icons img {
    width: 40px;
    padding: 10px 20px 0px 0px;
}

#footer-end-line {
    width: 100%;
    height: 60px;
    background-color: #6d89ed;
    border-top: solid 3px #f0ffff;
    border-top: #f0ffff;
    border-top-width: 2px;
    width: 100%;
    height: 30px;
    background-color: #6d89ed;
    text-align: center;
    color: #f0ffff;
    font-size: 22px;
    font-weight: 600;
}
