/*FONTES*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+3:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*ESTILOS GERAIS*/
body {
    font-family: "Source Sans Pro", "Source Sans 3";
    background: #f4decd;
}

/*HEADER*/
.header {
    height: 170px;
}

/*BANNER*/
* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}
*::-webkit-scrollbar {
    width: 0;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
* {
    -ms-overflow-style: none;
}

/* Carrousel */
.box-carousel {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0;
    padding-top: 35px;
}
.carousel > ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}
.carousel {
    position: relative;
    padding-top: 50%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 600px;
}
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.carousel__slide {
    position: relative;
    align-content: center;
    flex: 0 0 100%;
    background-color: transparent;
}
.carousel__slide > img {
    align-items: center;
    display: flexbox;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.carousel__slide:nth-child(even) {
    background-color: transparent;
}
.carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-30%, -40%, 70px);
    color: #a4a4a4;
    font-size: 2em;
}
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}
@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}
.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}
.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #a4a4a4;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 25%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}
.carousel::before,
.carousel__prev {
    left: -1rem;
}
.carousel::after,
.carousel__next {
    right: -1rem;
}
.carousel::before,
.carousel::after {
    content: "";
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #a4a4a4;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}
.carousel::before {
    background-image: url("../img/arrowLeft.svg");
}
.carousel::after {
    background-image: url("../img/arrowRight.svg");
}
@media (max-width: 359px) {
    .titulo h1 {
        font-size: 30px;
    }
    .text h2 {
        font-size: 30px;
    }
    .prog {
        height: 5px;
    }
    .load .p1 {
        font-size: 12px;
    }
    .load .p2 {
        font-size: 14px;
    }
    .image img {
        width: 60%;
    }
    .i2,
    .i3,
    .i4,
    .i5,
    .i6 {
        display: none;
    }
}
@media (min-width: 1200px) {
    .titulo h1 {
        font-size: 32px;
        margin-top: 5px;
    }
    .linha {
        margin-top: 5px;
    }
    .text h2 {
        font-size: 32px;
    }
    .image {
        margin: 0px;
        margin-top: -30px;
    }
    .image img {
        width: 50%;
    }
    .right-container {
        position: relative;
        margin-top: -30px;
    }
}
/*Carroussel*/
@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}
@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -500%;
    }
    98% {
        left: -500%;
    }
    99% {
        left: 0;
    }
}
@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

/*TEXTO CONHEÇA NOSSOS PLANOS*/
.container2 {
    width: 478px;
    height: 57px;
    display: flex;
    justify-content: center;
    color: #70cbcb;
    margin-left: 450px;
    margin-top: 10px;
}

/*PLANO PROFISSIONAL*/
.profissional {
    width: 333px;
    height: 278px;
    margin-left: 280px;
    margin-top: 40px;
}

.texto_profissional {
    font-family: "Source Sans 3";
    font-weight: bold;
    font-size: 42px;
    width: 211px;
    height: 57px;
    margin-top: 30px;
    margin-left: 330px;
}

/*PLANO LAZER*/
.lazer {
    width: 223px;
    height: 204px;
    margin-left: 880px;
    margin-top: -290px;
}

.texto_lazer {
    font-family: "Source Sans 3";
    font-weight: bold;
    font-size: 42px;
    width: 97px;
    height: 57px;
    margin-top: 30px;
    margin-left: 960px;
}

/*IMAGEM PREDIOS*/
.imagempredios {
    width: 1078px;
    height: 439.63px;
    width: 100%;
    margin-top: 200px;
    background-image: url("../img/predioshome.svg");
}

/*FOOTER*/
.footer {
    height: 175px;
}
