/*FONTES*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+3:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*ESTILOS GERAIS*/
body {
    font-family: "Source Sans Pro", "Source Sans 3";
    background-image: url(../img/job405-ploy-01c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/

.header-container {
    height: 380px;
    margin: 0 0 0 0;
    background-image: url(../img/background-neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container > header {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.header-img-logo {
    position: relative;
    width: 200px;
    height: 50px;
    top: 14vh;
    left: 11vw;
}

.header-nav-bar {
    position: relative;
    padding: 46vh 0vw 0vw;
    font-size: 20px;
    margin-left: -8vw;
    margin-right: 12vw;
}

.header-nav-bar a {
    color: #f0ffff;
    text-decoration: none;
    font-size: larger;
    text-shadow: 1px 2px 3px #cdcef4;
    padding: 0px 5vw 0px;
}

.header-left-itens-login {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    justify-content: center;
}

#header-myItens {
    position: relative;
    align-items: center;
}

#header-myItens > img {
    width: 50px;
    margin: 12vh 0 0 2vw;
}

#header-myItens > a {
    color: #f0ffff;
    font-size: 22px;
    text-align: left;
    padding: 0 0 0 0;
    margin: 10vh 0 0 0;
    text-shadow: 1px 2px 3px #eccef4;
    text-decoration: none;
}

#header-login {
    padding: 0vh 0vw 0vw;
}

#header-login > img {
    width: 40px;
    margin: 14vh 0 0 2vw;
}

#header-login > a {
    color: #f0ffff;
    font-size: 22px;
    margin: 38vh 0 0 1.5vw;
    text-decoration: none;
    text-shadow: 1px 2px 3px #eccef4;
}

/*cadastro do cartão*/
.cadastro-cartao {
    position: relative;
    margin-top: 30px;
    margin-left: 650px;
}

.cadastro-cartao h1 {
    color: #ffffff;
    text-shadow: 5px 5px 5px black;
    margin-top: -45px;
    margin-left: 30px;
}

/*CADASTRO-CARTÃO-FORM*/
.cadastro-cartao-form {
    font-family: "Source Sans 3", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #6d89ed;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 150px;
    width: 728px;
    height: 332px;
}

.cadastro-cartao {
    text-shadow: 5px 5px 5px black;
}

.cadastro-cartao-option {
    position: relative;
    width: 18%;
    font-size: larger;
    font-weight: 600;
    color: #f0ffff;
    background-color: #6d89ed;
}

.nome1 {
    font-family: "Source Sans 3", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    margin-left: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    top: 30%;
}
.nome1 input {
    width: 250px;
    height: 25px;
    border: none;
    font-size: 18px;
    color: #70009c;
    border-radius: 3%;
}

.numero {
    font-family: "Source Sans 3", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 70px;
}
.numero input {
    width: 300px;
    height: 25px;
    border: none;
    font-size: 18px;
    color: #70009c;
    border-radius: 3%;
}

.nome2 {
    font-family: "Source Sans 3", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 60px;
}
.nome2 input {
    width: 300px;
    height: 25px;
    border: none;
    font-size: 18px;
    color: #70009c;
    border-radius: 3%;
}
.validade {
    font-family: "Source Sans 3", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 400px;
    margin-top: -285px;
}
.validade input {
    width: 180px;
    height: 25px;
    border: none;
    font-size: 18px;
    color: #70009c;
    border-radius: 3%;
}

.seguranca {
    font-family: "Source Sans 3", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    color: #f0ffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 400px;
    margin-top: 71px;
}

.seguranca input {
    width: 50px;
    height: 25px;
    border: none;
    font-size: 18px;
    color: #70009c;
    border-radius: 3%;
}

/*BOTÃO SALVAR / LIMPAR*/
.cad-cartao-buttons button {
    font-family: "Source Sans 3", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    color: #f0ffff;
    font-weight: bold;
    font-size: 30px;
    margin-left: 360px;
    margin-top: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    background-color: #6d89ed;
    text-shadow: 2px 3px 3px black;
    box-shadow: 5px 5px 5px black;
    width: 120px;
    height: 40px;
    border-radius: 5px;
}

/*FOOTER*/
.footer.content {
    position: fixed;
    margin: 0;
    padding: 0;
    padding: 0 0 0 0;
}

.footer-container > footer {
    display: flex;
    background-color: #6d89ed;
    height: 380px;
}

#minimal-logo {
    padding: 30px 30px 10px 10px;
}

#Nossos-contatos {
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: #f0ffff;
}

.footer-contacts-info {
    padding: 100px 20px 0px 20px;
}

.footer-contacts-info > img {
    width: 40px;
    padding: 15px 20px 0px 0px;
}

.footer-contacts-info > label {
    font-size: 14px;
    color: #f0ffff;
}

.footer-social-a-icons {
    padding: 50px 10px 0px 10px;
}

.footer-social-a-icons img {
    width: 50px;
    padding: 10px 20px 0px 0px;
}

#footer-end-line {
    width: 100%;
    background-color: #6d89ed;
    height: 8vh;
    text-align: center;
    color: #f0ffff;
    font-size: 22px;
    font-weight: 600;
}

#footer-end-line a {
    text-decoration: none;
}

:hover#footer-end-line a {
    text-decoration: none;
    color: #ffffff;
}
