@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*ESTILOS GERAIS*/
body {
    font-family: "Source Sans Pro", "Source Sans 3";
    background-image: url(../img/job405-ploy-01c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/
.header-container {
    height: 380px;
    margin: 0 0 0 0;
    background-image: url(../img/background-neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container > header {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.header-img-logo {
    position: relative;
    width: 200px;
    height: 50px;
    top: 14vh;
    left: 11vw;
}

.header-nav-bar {
    position: relative;
    padding: 46vh 0vw 0vw;
    font-size: 20px;
    margin-left: -8vw;
    margin-right: 12vw;
}

.header-nav-bar a {
    color: #f0ffff;
    text-decoration: none;
    font-size: larger;
    text-shadow: 1px 2px 3px #cdcef4;
    padding: 0px 5vw 0px;
}

.header-left-itens-login {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    justify-content: center;
}

#header-myItens {
    position: relative;
    align-items: center;
}

#header-myItens > img {
    width: 50px;
    margin: 12vh 0 0 2vw;
}

#header-myItens > a {
    color: #f0ffff;
    font-size: 22px;
    text-align: left;
    padding: 0 0 0 0;
    margin: 10vh 0 0 0;
    text-shadow: 1px 2px 3px #eccef4;
    text-decoration: none;
}

#header-login {
    padding: 0vh 0vw 0vw;
}

#header-login > img {
    width: 40px;
    margin: 14vh 0 0 2vw;
}

#header-login > a {
    color: #f0ffff;
    font-size: 22px;
    margin: 38vh 0 0 1.5vw;
    text-decoration: none;
    text-shadow: 1px 2px 3px #eccef4;
}
