<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>U-SCOOTER</title>
  <link rel="stylesheet" href="/stylesheets/footer.css" />
</head>

<body>

  <!-------------------FOOTER----------------------------------------------->
  <div class="footer-content fixed-bottom">
    <div class="footer-container">
      <footer>
        <div>
          <a href="#"><img id="minimal-logo" src="/images/footer/minimal-logo.svg" alt="minimal-logo" /></a>
        </div>
        <div class="footer-contacts-info">
          <label id="Nossos-contatos">Nossos Contatos</label> <br />
          <img src="/images/footer/Contact Call.svg" alt="contact Call icon" />
          <label>(11) 2404-4856</label> <br />
          <img src="/images/footer/Contact Mail.svg" alt="" />
          <label>contato@u-scooter.com</label> <br />
          <img src="/images/footer/Location.svg" alt="" />
          <label>Avenida das Bromélias, 960 - Moema - São Paulo - 07196-015</label>
          <br />
        </div>
        <div class="footer-social-a-icons">
          <a href="https://facebook.com"><img src="/images/footer/facebook.svg" alt="facebook icon" /></a>
          <a href="https://instagram.com"><img src="/images/footer/instagram.svg" alt="instagram icon" /></a>
          <a href="https://web.whatsapp.com/"><img src="/images/footer/whatsapp.svg" alt="whatsapp icon" /></a>
        </div>
      </footer>
    </div>
    <div id="footer-end-line">
      <p>
        ® U-SCOOTER – Todos os direitos reservados.
        <a id="footer-end-line-a" href="#">www.u-scooter.com.br</a>
      </p>
    </div>
  </div>
  </div>

  <!-------------------FOOTER----------------------------------------------->


</body>

</html>