<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>U-SCOOTER</title>
        <link rel="stylesheet" href="/header/css/styles.css" />
    </head>
    <body>
        <!------------------HEADER------------------->
        <div class="header-container">
            <header class="header">
                <div class="header-img-logo">
                    <img
                        src="../img/logo_U-scooter_.svg"
                        width="460px"
                        alt="U-SCOOTER logotipo"
                    />
                </div>
                <div class="header-nav-bar">
                    <nav>
                        <a href="#">Home</a>
                        <a href="#">Show room</a>
                        <a href="#">Contatos</a>
                        <a href="#">Sobre nós</a>
                    </nav>
                </div>
                <div class="header-left-itens-login">
                    <div id="header-myItens">
                        <img src="../img/myItens.svg" alt="" /> <br />
                        <a href="#">Meus Itens</a>
                    </div>
                    <div id="header-login">
                        <img src="../img/login.svg" alt="" /> <br />
                        <a href="#">Entrar</a>
                    </div>
                </div>
            </header>
        </div>
    </body>
</html>
